
<html>
<head>

<div id="app">
  <div>
        <style>
        p{text-align: center;}
    </style>
    <link rel="stylesheet" href=".\style.css">
    <link rel="stylesheet" href=".\style1.css">
    <textarea cols="100" rows="5" v-model="input" style="font-family: Verdana; font-weight: bold; font-size: 12px; background-color: lightgreen;" size="100" autofocus></textarea><br />
    <input type=button value="Calculate" @click="calculate(this.form)" class="btn-right"><br />
    </p>
  <table>
    <tr>
      <td><strong>Count</strong></td>
      <td><input type="text" v-model="count" size="20" class="cal" readonly></td>
    </tr>
    <tr>
      <td><strong>Sum</strong></td>
      <td><input type="text" v-model="sum" class="cal" size="20" readonly></td>
    </tr>
    <tr>
      <td><strong>Mean</strong></td>
      <td><input type="text" v-model="mean" class="cal" size="20" readonly></td>
    </tr>
    <tr>
      <td><strong>Median</strong></td>
      <td><input type="text" v-model="median" class="cal" size="20" readonly></td>
    </tr>
    <tr>
      <td><strong>Mode</strong></td>
      <td><input type="text" v-model="mode" class="cal" readonly></td>
    </tr>
    <tr>
      <td><strong>Minimum</strong></td>
      <td><input type="text" v-model="minimum" class="cal" size="20" readonly></td>
    </tr>
    <tr>
      <td><strong>Maximum</strong></td>
      <td><input type="text" v-model="maximum" class="cal" size="20" readonly></td>
    </tr>
    <tr>
      <td><strong>Range</strong></td>
      <td><input type="text" v-model="range" class="cal" readonly></td>
    </tr>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
</div>
</div>
      <script src="script.js"></script>
  </html>